body {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: small;
  color : #000000;
  background : #CCCC99;
}

small {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: 80%;
}


a         {text-decoration: none}
a:link    {color: #444499; background-color: #FFFFCC;}
a:visited {color: #444499; background-color: #FFFFCC;}
a:active  {color: #EE3333; background-color: #FFFFCC;}
a:hover   {color: #EE3333; background-color: #FFFFFF;}


input, samp, p samp, select, textarea, td input, td select, td textarea {
  font-family: courier-new, "ms courier new", "new courier", courier, monospace;
  font-size: 80%;
}

.titlesearch {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: 60%;
}

.logon {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: 60%;
}

.commentbody {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: 60%;
}

.rateme {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: 60%;
}

td {
  color : #000000;
  background : #FFFFCC;
}

.titleheader {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: 80%;
  font-weight: bold;
}

.titlesub {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: 60%;
}

.menuheader {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: 60%;
  font-weight: bold;
}

.menuitem {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: 60%;
}

.maintitle {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: 80%;
  font-weight: bold;
  color: #883333;
  background : #FFFFCC;
}

.mainbody {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: 80%;
}

.mainbody tt {
  font-family: courier-new, courier, monospace;
  font-size: 100%;
}

.animation {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: 80%;
}

.mainfooter {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: 60%;
  color: #883333;
  background : #FFFFCC;
}

.mainauthor {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: 80%;
}

.commenttitle {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: 80%;
  font-weight: bold;
  color: #883333;
  background : #FFFFCC;
}

.commentfooter {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: 60%;
  color: #883333;
  background : #FFFFCC;
}

.searchtitle {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-weight: bold;
  font-size: 80%;
}

.centertitle {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-weight: bold;
  font-size: 80%;
}

.footer {
  font-family: verdana, arial, geneva, helvetica, sans-serif;
  font-size: 60%;
}

/*
     FILE ARCHIVED ON 11:27:11 Oct 22, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:34:14 Aug 26, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 157.808
  exclusion.robots: 0.083
  exclusion.robots.policy: 0.076
  RedisCDXSource: 1.835
  esindex: 0.007
  LoadShardBlock: 140.878 (3)
  PetaboxLoader3.datanode: 123.651 (4)
  CDXLines.iter: 12.834 (3)
  load_resource: 122.618
  PetaboxLoader3.resolve: 54.939
*/